{% extends "base.html" %}

{% block title %}Analisi Degli Scostamenti{% endblock %}

{% block content %}

<h1>Analisi Degli Scostamenti</h1>
<table id="tabellaScostamenti">
	<thead>
		<td></td>
		<td>Budget</td>
		<td>Delta</td>
		<td>Mix standard</td>
		<td>Delta</td>
		<td>Mix effettivo</td>
		<td>Delta</td>
		<td>Consuntivo</td>
	</thead>
		
	{% for x in range(0, 5) %}
		<tr>
			{% if x==0 %}<td id="tdX">Materiale diretto</td>{% endif %}
			{% if x==1 %}<td id="tdX">Lavoro diretto</td>{% endif %}
			{% if x==2 %}<td id="tdX">Costi totali</td>{% endif %}
			{% if x==3 %}<td id="tdX">Ricavi totali</td>{% endif %}
			{% if x==4 %}<td id="tdX">Margine</td>{% endif %}
			<td id="tdXY" class = "tdXY">{{ p[0][x] }}</td>
			<td id="tdXY" class = "tdXYSel" onclick='location.href="/scostamentoVolumi"'>{{ (p[1][x]-p[0][x])|round(2) }} ({{ ((p[1][x]-p[0][x])/p[0][x]*100)|round(2) }}%)</td>
			<td id="tdXY" class = "tdXY">{{ p[1][x] }}</td>
			
			{% if x < 3 %}
				<td id="tdXY" class = "tdXYSel" onclick='location.href="/scostamentoMixCosto"'>{{ (p[2][x]-p[1][x])|round(2) }} ({{ ((p[2][x]-p[1][x])/p[1][x]*100)|round(2) }}%)</td>
			{% elif x == 3%}
				<td id="tdXY" class = "tdXYSel" onclick='location.href="/scostamentoMixVendita"'>{{ (p[2][x]-p[1][x])|round(2) }} ({{ ((p[2][x]-p[1][x])/p[1][x]*100)|round(2) }}%)</td>
			{% else %}
				<td id="tdXY" class = "tdXY">{{ (p[2][x]-p[1][x])|round(2) }} ({{ ((p[2][x]-p[1][x])/p[1][x]*100)|round(2) }}%)</td>
			{% endif %}

			<td id="tdXY" class = "tdXY">{{ p[2][x] }}</td>

			{% if x == 0 %}
				<td id="tdXY" class = "tdXYSel" onclick='location.href="/scostamentoMD"'>{{ (p[3][x]-p[2][x])|round(2) }} ({{ ((p[3][x]-p[2][x])/p[2][x]*100)|round(2) }}%)</td>
			{% elif x == 1 %}
				<td id="tdXY" class = "tdXYSel" onclick='location.href="/scostamentoLD"'>{{ (p[3][x]-p[2][x])|round(2) }} ({{ ((p[3][x]-p[2][x])/p[2][x]*100)|round(2) }}%)</td>
			{% elif x == 3 %}
				<td id="tdXY" class = "tdXYSel" onclick='location.href="/scostamentoPrezzo"'>{{ (p[3][x]-p[2][x])|round(2) }} ({{ ((p[3][x]-p[2][x])/p[2][x]*100)|round(2) }}%)</td>
			{% else %}
				<td id="tdXY" class = "tdXY">{{ (p[3][x]-p[2][x])|round(2) }} ({{ ((p[3][x]-p[2][x])/p[2][x]*100)|round(2) }}%)</td>
			{% endif %}

			<td id="tdXY" class = "tdXY">{{ p[3][x] }}</td>
		</tr>
	{% endfor %}
		
</table>

	
{% endblock %}