{% extends "base.html" %}

{% block title %}Analisi Degli Scostamenti{% endblock %}

{% block content %}

<h3>Codice Articolo: <p id="codiceArticolo">{{ nrArticolo }}</p> </h3>
<h3>Cliente: {{cliente}} </h3>
<p>Valuta: {{valuta}}</p>

<table id="tabellaScostamenti">
	<thead>
		<th></th>
		<th>Materiale Diretto</th>
		<th>Lavoro Diretto</th>
		<th>Quantita'</th>
		<th>Costo Totale</th>
		<th>Prezzo Unitario</th>
		<th>Quantita' Venduta</th>
		<th>Ricavi Totali</th>
	</thead>
		
	{% for x in p %}
		<tr>
			{% if loop.index==1 %}<td id="tdX">Budget</td>{% endif %}
			{% if loop.index==2 %}<td id="tdX">Consuntivo</td>{% endif %}
			{% for y in x %}
				<td id="tdXY">{{ y|round(2) }}</td>
			{% endfor %}
			{% if x==2 %}{% endif %}
		</tr>
	{% endfor %}
	<tr>
	<td id="tdX">MOL</td>
	{% for x in range(0, 7) %}
		<td id="tdXY">{{ (p[1][x] - p[0][x])|round(2) }}</td>
	{% endfor %}
	</tr>
	
		
</table>

<button id="buttonBack" onclick="history.back()">Lista Articoli</button>
{% endblock %}