{% extends "base.html" %}

{% block title %}Analisi Degli Scostamenti{% endblock %}

{% block content %}

	<script>
		function getCodiceArticolo()
		{
			const urlSplit = window.location.href.split('=');
			var codiceArticolo = urlSplit[1];
			return codiceArticolo;
		}
    </script>

<h3>Codice Articolo: <p id="codiceArticolo"></p> </h3>
<h3>Cliente: <p id="cliente"></p> </h3>

<table id="tabellaScostamenti">
	<thead>
		<th></th>
		<th>Materiale Diretto</th>
		<th>Lavoro Diretto</th>
		<th>Quantita'</th>
		<th>Costo Totale</th>
		<th>Prezzo Unitario</th>
		<th>Quantita' Venduta</th>
		<th>Ricavi Totali</th>
	</thead>
		
	{% for x in range(0, 4) %}
		<tr>
			{% if x==0 %}<td id="tdX">Budget</td>{% endif %}
			{% if x==1 %}<td id="tdX">Consuntivo</td>{% endif %}
			{% if x==2 %}<td id="tdX">MOL</td>{% endif %}
		</tr>
	{% endfor %}
		
</table>

<button id="buttonBack" onclick="history.back()">Lista Articoli</button>

<script>
	document.getElementById("codiceArticolo").innerHTML = getCodiceArticolo();
</script>

{% endblock %}