{% extends "base.html" %}

{% block title %}Scostamento {{t}}{% endblock %}

{% block content %}
<h3>Delta: {{ delta }}€</h3>
<table id="tabellaScostamenti">
	<thead>
		<th>Codice Articolo</th>
		<th>Quantita</th>
		<th>Scostamento</th>
		<th>Budget Unitario</th>
		<th>Scostamento Unitario</th>
		<th>Consuntivo Unitario</th>
	</thead>
	{% for x in p %}
		<tr>
			{% for y in x %}
				<td id="tdXY">{{ y }}</td>
			{% endfor %}
		</tr>
	{% endfor %}
</table>

<button id="buttonBack" onclick="history.back()">Home</button>
<script>
	
</script>
	
{% endblock %}

