{% extends "base.html" %}

{% block title %}Lista Finali Articoli{% endblock %}

{% block content %}
<table id="tabellaScostamenti">
	<thead>
		<th></th>
		<th>Budget</th>
		<th>Scostamento</th>
		<th>Consuntivo</th>
	</thead>
	{% for x in volumi %}
		<tr>
			{% if loop.index==1 %}<td id="tdX">Volume Costi</td>{% endif %}
			{% if loop.index==2 %}<td id="tdX">Volume Vendite</td>{% endif %}
			<td id="tdXY">{{ x[0]|round(2) }}</td>
			<td id="tdXY">{{ (x[1] - x[0])|round(2) }} ({{delta_volumi[loop.index - 1]}}€)</td>
			<td id="tdXY">{{ x[1]|round(2) }}</td>
		</tr>
	{% endfor %}
</table>

<button id="buttonBack" onclick="history.back()">Home</button>
<script>
	
</script>
	
{% endblock %}