{% extends "base.html" %}

{% block title %}Scostamento Prezzo{% endblock %}

{% block content %}
<h1>Scostamento Ricavi</h1>
<p>Lo scostamento in questione non è tutto attribuibile al delta dei ricavi, una parte deve essere attribuita allo scostamento di valuta, il quale non è controllabile.</p>
<h3>Delta completo: {{ (delta[0] + delta[1])| round(2) }}€</h3>
<h2>Scostamento Valuta:</h2>
<h3>Delta valuta: {{delta[0]}}€</h3>
<table id="tabellaScostamenti">
	<thead>
		<td></td>
		<td>Budget</td>
		<td>Scostamento</td>
		<td>Consuntivo</td>
	</thead>
	{% for x in range(0, 3) %}
		<tr>
			{% if x==0 %}<td id="tdX">Euro</td>{% endif %}
			{% if x==1 %}<td id="tdX">Dollaro</td>{% endif %}
			{% if x==2 %}<td id="tdX">Yen</td>{% endif %}
			{% for y in v[x] %}
				<td id="tdXY">{{ y }}€</td>
			{% endfor %}
		</tr>
	{% endfor %}
</table>

<h2>Scostamento Ricavi:</h2>
<h3>Delta ricavi: {{delta[1]}}€</h3>
<div id='graficoRicavi' class='grafico'></div>
<table id="tabella">
	<thead>
		<td>Codice Articolo</td>
		<td>Quantità</td>
		<td>Scostamento</td>
		<td>Budget Unitario</td>
		<td>Scostamento Unitario</td>
		<td>Consuntivo Unitario</td>
	</thead>
	{% for x in p %}
		<tr>
			{% for y in x %}
				<td id="tdXY">{{ y }}{% if loop.index >= 3 %}€{% endif %}</td>
			{% endfor %}
		</tr>
	{% endfor %}
</table>

<script>

	var x = [{% for x in p %}
		{{ x[4] }},
	{% endfor %}];

	var trace = {
		x: x,
		type: 'histogram',
		nbinsx: 100,
		marker: {
		color: 'rgba(159, 168, 218,0.7)',
		},
	};

	var data = [trace];

	var layout = {
		title: 'Istogramma Scostamento Ricavi Unitari',
		showlegend: false,
		bargap: 0.02,
		xaxis: {title: "Valore(€)"}, 
  		yaxis: {title: "Numero Articoli"}
	};

	Plotly.newPlot('graficoRicavi', data, layout, {staticPlot: true});

</script>

{% endblock %}

