{% extends "base.html" %}

{% block title %}Scostamento Prezzo{% endblock %}

{% block content %}
<h3>Delta completo: {{ (delta[0] + delta[1])| round(2) }}€</h3>
<h3>Delta valuta: {{delta[0]}}</h3>
<table id="tabellaScostamenti">
	<thead>
		<th></th>
		<th>Budget</th>
		<th>Scostamento</th>
		<th>Consuntivo</th>
	</thead>
	{% for x in range(0, 3) %}
		<tr>
			{% if x==0 %}<td id="tdX">Euro</td>{% endif %}
			{% if x==1 %}<td id="tdX">Dollaro</td>{% endif %}
			{% if x==2 %}<td id="tdX">Yen</td>{% endif %}
			{% for y in v[x] %}
				<td id="tdXY">{{ y }}</td>
			{% endfor %}
		</tr>
	{% endfor %}
</table>

<h3>Delta ricavi: {{delta[1] }}</h3>
<table id="tabellaScostamenti">
	<thead>
		<th>Codice Articolo</th>
		<th>Quantita</th>
		<th>Scostamento</th>
		<th>Budget Unitario</th>
		<th>Scostamento Unitario</th>
		<th>Consuntivo Unitario</th>
	</thead>
	{% for x in p %}
		<tr>
			{% for y in x %}
				<td id="tdXY">{{ y }}</td>
			{% endfor %}
		</tr>
	{% endfor %}
</table>

<button id="buttonBack" onclick="history.back()">Home</button>
<script>
	
</script>
	
{% endblock %}

