{% extends "base.html" %}

{% block title %}Lista Finali Articoli{% endblock %}

{% block content %}
<table id="tabellaScostamenti">
	<thead>
		<th>Codice Articolo</th>
		<th>Budget</th>
		<th>Scostamento</th>
		<th>Consuntivo</th>
	</thead>
	{% for x in p %}
		<tr>
			{% for y in x %}
				{% if loop.index==1 %}	
					<td id="tdXY">{{ y }}</td>
				{% else %}
					<td id="tdXY">{{ y }}%</td>
				{% endif %}
			{% endfor %}
		</tr>
	{% endfor %}
</table>

<button id="buttonBack" onclick="history.back()">Home</button>
<script>
	
</script>
	
{% endblock %}

