<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="../static/styles.css">
</head>
<body>


<table id="tabella">
	<thead>
		<th></th>
		<th>nrAticolo</th>
		<th>Budget</th>
		<th></th>
		<th>Volume Consumi</th>
		<th></th>
		<th>Mix Consumi</th>
		<th></th>
		<th>Volume Vendite</th>
		<th></th>
		<th>Mix Vendite</th>
		<th></th>
		<th>Valuta</th>
	</thead>
	<tbody>
		<tr class="inizio">
			<th scope="row">Volume</th>
			<td></td>
			<td>10000</td>
			<td class="scostamenti">-200</td>
			<td>10000</td>
			<td></td>
			<td>10000</td>
			<td></td>
			<td>10000</td>
			<td></td>
			<td>10000</td>
			<td></td>
			<td>10000</td>
		</tr>
		<tr class="inizio">
			<th scope="row" rowspan="9">Mix</th>
			<td>ART001</td>
			<td>asd</td>
			<td></td>
			<td>addas</td>
			<td>ads</td>
			<td>ada</td>
			<td>dasdas</td>
			<td></td>
			<td>daad</td>
			<td>ada</td>
			<td>ad</td>
			<td>da</td>
		</tr>
		<tr>
			<td>ART002</td>
			<td>asd</td>
			<td></td>
			<td>addas</td>
			<td>ads</td>
			<td>ada</td>
			<td>dasdas</td>
			<td></td>
			<td>daad</td>
			<td>ada</td>
			<td>ad</td>
			<td>da</td>
		</tr>
		<tr>
			<td>ART002</td>
			<td>asd</td>
			<td></td>
			<td>addas</td>
			<td>ads</td>
			<td>ada</td>
			<td>dasdas</td>
			<td></td>
			<td>daad</td>
			<td>ada</td>
			<td>ad</td>
			<td>da</td>
		</tr>
		<tr>
			<td>ART002</td>
			<td>asd</td>
			<td></td>
			<td>addas</td>
			<td>ads</td>
			<td>ada</td>
			<td>dasdas</td>
			<td></td>
			<td>daad</td>
			<td>ada</td>
			<td>ad</td>
			<td>da</td>
		</tr>
		<tr>
			<td>ART002</td>
			<td>asd</td>
			<td></td>
			<td>addas</td>
			<td>ads</td>
			<td>ada</td>
			<td>dasdas</td>
			<td></td>
			<td>daad</td>
			<td>ada</td>
			<td>ad</td>
			<td>da</td>
		</tr>
		<tr>
			<td>ART002</td>
			<td>asd</td>
			<td></td>
			<td>addas</td>
			<td>ads</td>
			<td>ada</td>
			<td>dasdas</td>
			<td></td>
			<td>daad</td>
			<td>ada</td>
			<td>ad</td>
			<td>da</td>
		</tr>
		<tr>
			<td>ART002</td>
			<td>asd</td>
			<td></td>
			<td>addas</td>
			<td>ads</td>
			<td>ada</td>
			<td>dasdas</td>
			<td></td>
			<td>daad</td>
			<td>ada</td>
			<td>ad</td>
			<td>da</td>
		</tr>
		<tr>
			<td>ART002</td>
			<td>asd</td>
			<td></td>
			<td>addas</td>
			<td>ads</td>
			<td>ada</td>
			<td>dasdas</td>
			<td></td>
			<td>daad</td>
			<td>ada</td>
			<td>ad</td>
			<td>da</td>
		</tr>
		<tr>
			<td>ART002</td>
			<td>asd</td>
			<td></td>
			<td>addas</td>
			<td>ads</td>
			<td>ada</td>
			<td>dasdas</td>
			<td></td>
			<td>daad</td>
			<td>ada</td>
			<td>ad</td>
			<td>da</td>
		</tr>
		<tr class="inizio">
			<th scope="row">Prezzo</th>
			<td></td>
			<td>10000</td>
			<td>-200</td>
			<td>10000</td>
			<td></td>
			<td>10000</td>
			<td></td>
			<td>10000</td>
			<td></td>
			<td>10000</td>
			<td></td>
			<td>10000</td>
		</tr>
		</tr>
	</tbody>
	
</table>
